## Projeto de Análise de dados - Estatística - Profa. Maria Luísa - ADS III

### Alunos:
- João Victor Carrijo
- Danilo de Andrade
- Eloísa Rodrigues

### Sobre o projeto
Neste trabalho analisaremos uma base de dados envolvendo os dados de vendas de vídeo games

## Importação de Bibliotecas

In [1]:
import pandas as pd # leitura de dados
import numpy as np # cálculos
import plotly.express as plt # visualização de dados

### Lendo dados e apagando colunas irrelevantes

In [ ]:
# Lendo os dados
df_games = pd.read_csv('dados-vg.csv')
df_games

In [3]:
# Apagando coluna de imagens
df_games = df_games.drop(columns={'img','last_update'})

### Visualização Básica

In [8]:
# Visualização de dados descritivos das colunas numéricas
df_games.describe()

,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales
count,6678.000000,18922.000000,12637.000000,6726.000000,12824.000000,15128.000000
mean,7.220440,0.349113,0.264740,0.102281,0.149472,0.043041
std,1.457066,0.807462,0.494787,0.168811,0.392653,0.126643
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.400000,0.030000,0.050000,0.020000,0.010000,0.000000
50%,7.500000,0.120000,0.120000,0.040000,0.040000,0.010000
75%,8.300000,0.340000,0.280000,0.120000,0.140000,0.030000
max,10.000000,20.320000,9.760000,2.130000,9.850000,3.120000

In [11]:
# Visualizando jogo com maior quantidade de vendas no total
mais_vendas = df_games['total_sales']>= 20.32
df_games[mais_vendas]

,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN

In [14]:
# Visualizando jogo(s) com a pior avaliação dos críticos
pior_avaliacao = df_games['critic_score'] <= 1.0
df_games[pior_avaliacao]

,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
11762,Risen 3: Titan Lords Enhanced Edition,PS4,Role-Playing,Deep Silver,Piranha Bytes,1.0,0.07,NaN,NaN,0.06,0.01,2015-08-21,2018-01-03
12164,Kabuki Warriors,XB,Action,Crave Entertainment,Light Weight,1.0,0.06,0.05,NaN,0.01,0.00,2001-11-19,NaN